{% extends '_layouts/base.html' %}

{% block body %}
<h1>About Me</h1>
<img src="/img/old_machine.jpg" class="pull-left about-image" />
<p>
I have been intrigued by technology from an early age. My parents ran a business that sold hardware and software solutions so as a family we stayed pretty current with emerging technology trends. I can still remember playing Zork and Space Invaders on some of those older machines. When I was young people would ask me what I wanted to be when I grew up. Pretty consistently my answer was "programmer" but sometimes it was "astronaut." I used to make my dad give me "computer lessons" that usually involved navigating the command line in DOS.
</p>
<p>
My first experience with programming came when I was 14. I went to a summer program at a local technical college where I learned QBASIC. My crowning achievement from that program was a very pixelated game that simulated a lemonade stand. After that I was fortunate enough to attend a high school that offered classes in QBASIC and then C++.
</p>
<img src="/img/skill_cloud.jpg" class="pull-right about-image" id="skill_cloud"/>
<p>
When I went to college I took a course in Visual Basic and several courses on project management, e-commerce, and object oriented design. During this period I identified web development as the direction the technology world was moving so I narrowed my focus to PHP. My school did not offer classes in server side web development so I taught myself using books and tutorials online. In a graduate level e-commerce course we were tasked with making a website that mimicked an online store. The system did not have to work; it was an exercise more in the concept of what an e-commerce site would look like. I used this opportunity to sink my teeth into PHP and MySQL and developed my first real database driven application.
</p>
<p>
Since graduating with my MBA with a Information Systems concentration I have worked full time as a PHP developer. My experiences from my career and through contributions to and observations of open source projects have helped me come a long way. I am continually learning about best practices in software development and I endeavor to integrate them into my daily work.
</p>
<p>
<!--TODO update this-->
View my <a href="/portfolio/">portfolio</a> or my <a href="/resume">resume <i class="icon-external-link"></i></a> to read more about my experiences. I also <a href="/blog/">blog <i class="icon-external-link"></i></a> with my business partner <a href="http://matthewmkeeler.com">Matthew M. Keeler <i class="icon-external-link"></i></a> about some of the things I have learned or found useful.
</p>
{% endblock %}
