{% extends '_layouts/base.html' %}

{% block title %}{{ super() }} | About Me{% endblock %}

{% block body %}
<h1>About Me</h1>
<h2>Background</h2>
<img src="/img/old_machine.jpg" class="pull-right about-image" />
<p>
I have been intrigued by technology from an early age. My parents ran a
business that sold hardware and software solutions so as a family we stayed
pretty current with emerging technology trends. I can still remember playing
Zork and Space Invaders on some of those older machines.
</p>
<p>
In college I pursued business and attained an MBA with a Information Systems
concentration. Since graduating nearly 5 years ago I have worked full time as a
software developer. My experiences from my career as well as contributions to
and observations of open source projects have helped me to advance my
education. I am continually learning about best practices in software
development and I endeavor to integrate them into my daily work.
</p>
<div class="clearfix"></div>
<h2>Experience</h2>
<img src="/img/devict-logo.png" class="pull-right about-image" id="devict_logo" />
<p>
More than any of the other projects in <a href="/portfolio/">my portfolio</a> I
am most proud of my involvement with Wichita's local development community
<a href="http://meetup.com/devict">devICT <i class="icon-external-link"></i></a>. As an organizer I help to
connect, empower, and educate a great group of developers and aspiring
developers. My motivations in this regard are not completely altruistic,
however, as I frequently learn from this talented group.
</p>
<div class="clearfix"></div>
<h2>Focus</h2>
<img src="/img/tag_cloud.jpg" class="pull-right about-image" id="tag_cloud"/>
<p>
I am comfortable with all layers of the web stack but the work I prefer is on
the back end and in operations. I am very interested in developing truly
<strong>RESTful APIs, Service Oriented Architecture, and Test Driven
Development</strong>. I love automation, virtualization, and efficient
development workflows that empower (rather than hinder) developers. I grew up
on PHP but I also enjoy Python, Ruby, and Node.js. I have plans to expand my
skillset to include more systems languages like Go and functional languages
like Haskell.
</p>
<p>
View my <a href="/portfolio/">portfolio</a> or my
<a href="/resume/">resume <i class="icon-external-link"></i></a> to read more
about my experiences. I also <a href="/blog/">blog</a> about some of the things
I have learned or found useful.
</p>
{% endblock %}
