{% extends '_layouts/base.html' %}

{% block body %}
<div class="jumbotron">
    <ul class="rslides">
        <li><img src="http://www.gravatar.com/avatar/0ee0ed1d5c1b450c2c76651dd62f38c4.png?s=300" /></li>
        <li><img src="/img/tag_cloud.jpg" /></li>
        <li><img src="/img/trex-cafe.jpg" /></li>
        <li><img src="/img/vim.jpg" /></li>
        <li><img src="/img/family-wedding.jpg" /></li>
    </ul>
    <h1>Jacob Walker</h1>
    <p>
        My name is Jacob Walker. I am a Software Engineer living in Wichita,
        KS. I am passionate about Go, community, best practices, open source
        software, automation, my family, and Vim.
    </p>
    <p><a id="learn-more" class="btn btn-primary btn-lg" href="/about.html">Learn more <i class="icon-double-angle-right"></i></a></p>
</div>

<div class="container">
    <div class="col-md-4">
        <h2>Portfolio</h2>
        <p>Browse through some of my projects.</p>
        <p><a class="btn btn-primary" href="/portfolio/">My Projects <i class="icon-double-angle-right"></i></a></p>
    </div>
    <div class="col-md-4">
        <h2>Blog</h2>
        <p>Read my thoughts on topics I have found interesting.</p>
        <p><a class="btn btn-primary" href="/blog/">My Blog <i class="icon-double-angle-right"></i></a></p>
    </div>
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>View my resume in HTML, PDF or Markdown format.</p>
        <p><a class="btn btn-primary" href="/resume/">My Resume <i class="icon-external-link"></i></a></p>
   </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/js/vendor/responsiveslides.min.js"></script>
<script type="text/javascript">
    // Slide show on home page
    $(function() {
        $(".rslides").responsiveSlides();
    });
</script>
{% endblock %}
