<div class="hero-unit">
    <ul class="rslides">
        <li><img src="http://www.gravatar.com/avatar/0ee0ed1d5c1b450c2c76651dd62f38c4.png?s=300" /></li>
        <li><img src="/img/skill_cloud.jpg" /></li>
        <li><img src="/img/trex-cafe.jpg" /></li>
        <li><img src="/img/vim.jpg" /></li>
        <li><img src="/img/family-wedding.jpg" /></li>
    </ul>
    <h1>Jacob Walker</h1>
    <p>My name is Jacob Walker. I am a web developer living in Wichita, KS. I am passionate about best practices, open source software, my family, Vim, and design patterns and algorithms.</p>
    <p><a id="learn-more" class="btn btn-primary btn-large" href="#about">Learn more <i class="icon-double-angle-right"></i></a></p>
</div>

<div class="row">
    <div class="span6">
        <h2>Portfolio</h2>
        <p>Browse through some of the projects I have been involved with.</p>
        <p><a class="btn" href="#portfolio">View Projects <i class="icon-double-angle-right"></i></a></p>
    </div>
    <div class="span6">
        <h2>Resume</h2>
        <p>View my official resume in HTML, PDF or Markdown format.</p>
        <p><a class="btn" href="/resume">View Resume <i class="icon-external-link"></i></a></p>
   </div>
</div>

<script src="js/vendor/responsiveslides.min.js"></script>
<script type="text/javascript">
    // Slideshow on home page
    $(function() {
        $(".rslides").responsiveSlides();
    });
</script>

