<h1>Portfolio</h1>
<div class="row-fluid" id="portfolio">
    <div class="span3" id="portfolio-menu">
        <ul class="nav nav-list">
            <li data-ng-repeat="project in projects">
            <a data-ng-class="projectClass(project._id)" data-ng-click="loadProject(project._id)">{{project.name}}</a>
            </li>
        </ul>
    </div>
    <div class="span9" id="project-detail">
        <h1 data-ng-bind="currentProject.name">Choose a Project From the List</h1>
        <h2 data-ng-bind="currentProject.subtitle"></h2>
        <div data-ng-bind-html-unsafe="currentProject.description"></div>
    </div>
</div>
