<div class="hero-unit">
    <h1>Jacob Walker</h1>
    <p>My name is Jacob Walker. I am a web developer living in Wichita, KS.</p>
    <p><a class="btn btn-primary btn-large" href="#about">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="span6">
        <h2>Resume</h2>
        <p>View my official resume in HTML, PDF or Markdown format.</p>
        <p><a class="btn" href="/resume">View Resume &raquo;</a></p>
   </div>
    <div class="span6">
        <h2>Portfolio</h2>
        <p>Browse through some of the projects I have been involved with.</p>
        <p><a class="btn" href="#portfolio">View Projects &raquo;</a></p>
    </div>
</div>
