<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head" . }}

<body>
  {{ partial "header" . }}

  {{ $data := .Data }}
  <div class="container">
    <div class="row text-center visible-xs">
    {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
      <a class="label label-primary" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
        {{ $value.Name }} ({{ $value.Count }})
      </a>
    {{ end }}
    <hr />
    </div>
    <div class="row text-center hidden-xs">
    {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
      {{ $.Scratch.Set "iconClass" (printf "devicons devicons-%s" $value.Name) }}
      {{ if eq $value.Name "bash" }}
        {{ $.Scratch.Set "iconClass" "devicons devicons-terminal" }}
      {{ else if eq $value.Name "ruby" }}
        {{ $.Scratch.Set "iconClass" "devicons devicons-ruby_rough" }}
      {{ else if eq $value.Name "community" }}
        {{ $.Scratch.Set "iconClass" "fa fa-users" }}
      {{ end }}

      <div class="category">
        <i class="{{ $.Scratch.Get "iconClass" }}"></i>
        <a class="label label-primary" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
          {{ $value.Name }} ({{ $value.Count }})
        </a>
      </div>
    {{ end }}
    </div>

    {{ range .Data.Pages }}
      <p>{{ .Title }} </p>
      <p>{{ .Params.summary }}</p>

      {{ if .Params.categories }}
        <p>Categories:
          {{ range $k, $v := .Params.categories }}
            {{ $v }}
          {{ end }}
        </p>
      {{ end }}

      <hr />
    {{ end }}
  </div>

  {{ partial "footer" . }}
</body>
</html>
