/* Social Media Icons */
.symbol {
  height: 32px;
  width: 32px;
  display: inline-block;
  background-image: url("../images/icons.png");
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

.social-twitter {
  background-position: -192px 0px;
}

.social-facebook {
  background-position: -96px 0px;
}

.social-github {
  background-position: -128px 0px;
}

.social-googleplus {
  background-position: -64px 0px;
}

.social-linkedin {
  background-position: -160px 0px;
}

.social-youtube {
  background-position: -224px 0px;
}

.social-stackoverflow{
  background-position: -288px 0px;
}
/* End Social Media Icons */

/* Font overrides from Bootswatch Readable */
.navbar,
.label,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Give a little more space after a header such as on the blog list page */
header {
  margin-bottom: 1em;
}

.category {
  display: inline-block;
  text-align: center;
  height: 6em;
  padding-bottom: 10px;
}

.category i {
  display: block;
}

.category i.devicons {
  font-size: 4em;
}

.category i.fa {
  font-size: 2.8em;
  padding: 10px 0px;
}

.category-title i.devicons {
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
}

/* Put a little division between subsequent articles */
article+article {
  margin-top: 15px;
  border-top: 1px solid #dddddd;
}

/* Remove special styling of links with the "unstyled" class */
a.unstyled {
  color: inherit;
}
a.unstyled:hover {
  text-decoration: inherit;
}

/* From 566px up I want the picture floated right */
@media (min-width: 566px) {
  .mugshot {
    float: right;
  }
}

/* On smaller displays make the picture centered */
@media (max-width: 566px) {
  .mugshot {
    margin: auto;
    width: 100%;
  }
}
