{% extends '_layouts/base.html' %}
{% import '_layouts/helpers.html' as helpers %}

{% block title %}{{ super() }} | Portfolio{% endblock %}

{% block body %}
<h1>Portfolio</h1>

<div id="filters"></div>

<script type="text/javascript">
  var tags = [
{% for project in projects %}
  {% if project.tags %}
    {% for tag in project.tags %}
      '{{tag}}',
    {% endfor %}
  {% endif %}
{% endfor %}
  ];
</script>

{% for project in projects|sort(attribute='order') %}
    <a class="row portfolio-item link-panel" href="/portfolio/{{ project._id }}.html">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ project.name }}</h3>
            </div>
            <div class="panel-body">
                {{ project.summary }}
            </div>
            <div class="panel-footer">
                {% if project.tags %}
                    {{ helpers.tags(project.tags) }}
                {% endif %}
            </div>
        </div>
    </a>
{% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/js/portfolio.js"></script>
{% endblock %}
