{{ $data := .Data }}
<div class="text-center">
  {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
  <div class="category">
    <a class="unstyled hidden-xs" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
      <i class="{{ partial "category-icon" $value.Name }}"></i>
    </a>
    <a class="label label-primary" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
      {{ $value.Name }} ({{ $value.Count }})
    </a>
  </div>
  {{ end }}
</div>
