{{ $data := .Data }}

<div class="row text-center visible-xs">
  {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
  <a class="label label-primary" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
    {{ $value.Name }} ({{ $value.Count }})
  </a>
  {{ end }}
  <hr />
</div>
<div class="row text-center hidden-xs">
  {{ range $key, $value := .Site.Taxonomies.categories.ByCount }}
  <div class="category">
    <a class="unstyled" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
      <i class="{{ partial "category-icon" $value.Name }}"></i>
    </a>
    <a class="label label-primary" href="{{ $data.Plural }}/categories/{{ $value.Name | urlize }}.html">
      {{ $value.Name }} ({{ $value.Count }})
    </a>
  </div>
  {{ end }}
</div>
