<div class="container">
  <hr>
  <footer>
    <p class="pull-left">&copy; Jacob Walker 2016</p>
    <p class="pull-right">
    <a href="https://twitter.com/jcbwlkr"                              title="Jacob Walker on Twitter"        class="symbol social-twitter">Jacob Walker on Twitter</a>
    <a href="https://github.com/jcbwlkr"                               title="Jacob Walker on Github"         class="symbol social-github">Jacob Walker on Github</a>
    <a href="https://stackoverflow.com/users/859353/jcbwlkr"           title="Jacob Walker on Stack Overflow" class="symbol social-stackoverflow">Jacob Walker on Stack Overflow</a>
    <!--<a href="https://google.com/+JacobWalker0814"                      title="Jacob Walker on Google Plus"    class="symbol social-googleplus">Jacob Walker on Google Plus</a>-->
    <!--<a href="https://www.facebook.com/jacobwalker0814"                 title="Jacob Walker on Facebook"       class="symbol social-facebook">Jacob Walker on Facebook</a>-->
    <a href="https://www.youtube.com/channel/UC5R8ji-vKH6NhUQTozKn5eg" title="Jacob Walker on YouTube"        class="symbol social-youtube">Jacob Walker on YouTube</a>
    <a href="https://www.linkedin.com/in/jcbwlkr"                      title="Jacob Walker on LinkedIn"       class="symbol social-linkedin">Jacob Walker on LinkedIn</a>
    </p>
  </footer>
</div>

<!-- jQuery! -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!-- Bootstrap JS! -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- highlight.js! -->
<script src="/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- TODO google analytics -->
