<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head" . }}

<body>
  {{ partial "header" . }}

  <div class="container">
    <div class="jumbotron clearfix">
      <img class="pull-right img-thumbnail img-responsive" src="http://www.gravatar.com/avatar/0ee0ed1d5c1b450c2c76651dd62f38c4.png?s=300" />
      <h1>Jacob Walker <small>jcbwlkr</small></h1>
      <p>
        I am a Software Developer living in Wichita, KS.
      </p>
      <p>
        I am passionate about Go, community, open source software, automation,
        my family, and Vim.
      </p>
      <p>
        Check out my
        <a href="/blog.html">Blog</a>,
        <a href="/portfolio.html">Portfolio</a>,
        or <a href="/resume/">Resume</a>.
      </p>
    </div>
  </div>

  {{ partial "footer" . }}
</body>
</html>
