<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head" . }}

<body>
  {{ partial "header" . }}

  <div class="container">
    <div class="jumbotron clearfix">
      <img class="img-thumbnail img-responsive mugshot" src="http://www.gravatar.com/avatar/0ee0ed1d5c1b450c2c76651dd62f38c4.png?s=300" />
      <h1>Jacob Walker <small>jcbwlkr</small></h1>
      <p>
        Hi there! I'm a Software Developer, Trainer, and Community Organizer
        living in Wichita, KS.
      </p>
      <p>
        I'm passionate about my family, Go, community, open source
        software, automation, and Vim.
      </p>
      <p>
        Check out my
        <a href="/blog.html">Blog</a>,
        <a href="/portfolio.html">Portfolio</a>,
        or <a href="/resume/JacobWalkerResume.pdf">Resume</a>.
      </p>
    </div>

    <!--<div>-->
      <!--I have trained <strong>900+</strong> developers-->
      <!--over <strong>41</strong> events-->
      <!--for <strong>21</strong> organizations-->
      <!--in <strong>4</strong> countries.-->
    <!--</div>-->

    {{ partial "categories" . }}
  </div>

  {{ partial "footer" . }}
</body>
</html>
