<h1>jacob-walker.com</h1>
<p>
    This site is obviously part of my portfolio. It is built with <a href="http://angularjs.org/">Angular.js</a> and styled with Twitter Bootstrap and HTML5 Boilerplate. It is hosted on GitHub Pages using my custom domain name.
</p>
<p>
    The resume portion of this site is an interesting piece of work. My resume is stored as a markdown file for ease of updating and versioning. I developed a node.js script that uses a third party node module to convert the markdown file to HTML and then PDF. My code further acts on the generated HTML to make the web view of the resume. The PDF is formatted through CSS.
</p>
<p>
    <a href="https://github.com/jacobwalker0814/jacobwalker0814.github.io">Site source</a><br />
    <a href="https://github.com/jacobwalker0814/resume">Resume source</a>
</p>
