<h1>My Dotfiles</h1>
<p>
    It seems like every *nix developer hosts at least their bashrc file on GitHub and I am no exception. My repo uses the Ruby gem <a href="https://github.com/technicalpickles/homesick">homesick <i class="icon-external-link"></i></a> to easily keep my config files in sync. To further ease the process I can install or update my config by running
</p>
<p>
<code>
    bash <( curl -L http://bit.ly/jacobwalker )
</code>
</p>
<p>
    <a href="https://github.com/jacobwalker0814/mydotfiles">Source <i class="icon-external-link"></i></a>
</p>
