<h1>Vim Config</h1>
<p>
    When I started using Vim as my primary editor I found my second love. Its pure efficiency combined with its extendability have yet to leave me seriously wanting for any features. I maintain a fork of the popular <a href="http://wp.me/p32nVp-12">spf13-vim</a> distribution. I have also contributed a new theme to the <a href="https://github.com/bling/vim-airline">vim-airline</a> project.
</p>
<p>
    <a href="https://github.com/jacobwalker0814/spf13-vim">Source</a>
</p>
