<h1>yagl-js</h1>
<h2>Yet Another Game of Life :: In JavaScript</h2>
<p>
    When I first read about the <a href="http://www.catb.org/hacker-emblem/">Universal Hacker Emblem <i class="icon-external-link"></i></a> I got excited about <a href="http://en.wikipedia.org/wiki/Conway_game">Conway's Game of Life <i class="icon-external-link"></i></a>. As an experiment I set out to see if I could implement the game in only HTML5, Canvas, CSS and pure JavaScript. The game works in both desktop and mobile browsers.
</p>
<p>
    <a href="http://jacob-walker.com/yagl-js/">Demo <i class="icon-external-link"></i></a><br />
    <a href="https://github.com/jacobwalker0814/yagl-js">Source <i class="icon-external-link"></i></a>
</p>
