<h1>Regular Expressions 101</h1>
<em>Or...</em>
<h2>How I Learned to Stop Worrying and Love the Regex</h2>
<p>
    In March 2013 I gave a presentation to the local web development group <a href="http://upfrontwichita.com">UpFront Wichita <i class="icon-external-link"></i></a> over the different forms and uses of Regular Expressions. The talk was just under two hours long and was well received by the audience (approximately 25 developers). The presentation was broadcast through Google Hangouts On Air and the video is available on <a href="http://youtu.be/4LnyHF8dnIk">YouTube <i class="icon-external-link"></i></a>.
</p>
<p>
    <a href="https://github.com/jacobwalker0814/regex-101">Slides and source <i class="icon-external-link"></i></a>
</p>
