<h1>find.torrent</h1>
<p>
    At home my desktop PC acts as a UPNP media server and is the box I use to download torrents. This machine is inconveniently located in my basement. There were many times when I would want to start a download but the only device nearby is my phone. I found that finding and downloading a torrent file then getting it to my torrent machine was a cumbersome process. Furthermore, many sites that index torrent files contain advertising that ranges from annoying to inappropriate to explicit. I decided to create a service that facilitates the process of finding the .torrent files and triggering their download. The service does not download the torrent itself; just the torrent file.
</p>
<p>
    When I started this project I knew that I wanted to build the service as a REST API that I could then consume through various clients. I intend to develop web, command line, android, and iPhone applications. The service is written in <a href="http://bulletphp.com/">Bullet PHP <i class="icon-external-link"></i></a> and serves the API with the <a href="http://stateless.co/hal_specification.html">HAL Hypermedia Type <i class="icon-external-link"></i></a>. The service was written using a combination of TDD and BDD practices with tests in PHPUnit and Frisby.js.
</p>
<p>
    This is a collaborative work with my co-worker and business partner <a href="https://github.com/keelerm84">Matthew M. Keeler <i class="icon-external-link"></i></a>.
</p>
<p>
    <a href="https://github.com/Tortugas-Consulting-LLC/find.torrent">Source <i class="icon-external-link"></i></a>
</p>
