<h1>devICT</h1>
<p>
    devICT is a local development community that covers all aspects of development. I first joined the group in December of 2012 and have made it a priority to be actively involved. I help to organize events, find and engage new members, and give presentations.
</p>
<p>
    The group's home on the web is <a href="http://devict.org">devict.org <i class="icon-external-link"></i></a>. The site was previously hosted on Heroku but has since been moved to a VPS. The application runs on Rails. I have made several contributions to the site such as setting up infrastructure, the user management system, and the IRC users integration.
</p>
<p>
    <a href="https://github.com/devict/devict.org">Source <i class="icon-external-link"></i></a>
</p>
