<h1>TimeIPS</h1>
<p>
    Since October 2010 the majority of my development focus has been with my employer TimeIPS. We make a time and attendance system which is used by thousands of companies around the world. Tracking employee hours sounds simple when you think about it, but to stay competitive in the time and attendance market TimeIPS does so much more than tracking punches in and out.
</p>
<p>
    TimeIPS is used to
    <ul>
        <li>Track employee hours worked from a variety of hardware and software interfaces</li>
        <li>Record benefit usages and accruals</li>
        <li>Monitor employee adherence to schedules</li>
        <li>Ensure employee coverage for particular tasks or locations</li>
        <li>Calculate FLSA overtime</li>
        <li>Record piecework pay such as tips and bonuses</li>
        <li>Serve company documents to employees and managers</li>
        <li>Calculate automatic holiday rules</li>
        <li>And many other things</li>
    </ul>
</p>
<p>
    At TimeIPS I am provided with the opportunity to work with the following technologies
    <ul>
        <li>PHP</li>
        <li>Doctrine 2</li>
        <li>PHPUnit</li>
        <li>jQuery</li>
        <li>Android</li>
        <li>C++</li>
        <li>QT</li>
        <li>Python</li>
        <li>QEMU virtual machines</li>
        <li>Embedded Applications</li>
    </ul>
</p>
<p>
    <a href="http://timeips.com/videos/">TimeIPS Videos</a>
</p>
