<h1>Natural Organic Warehouse</h1>
<p>
    Natural Organic Warehouse (NOW) is a distributor of organic products for farming, gardening, and landscaping purposes. Their slogan is "better, cleaner, sustainable choices." Through my consulting company <a href="http://tortugas-llc.com">Tortugas Consulting, LLC <i class="icon-external-link"></i></a> I helped to develop their online presence. The site started with an open source e-commerce solution and has grown significantly to meet the unique needs of NOW. Notable features include integration with shipping services and the <a href="http://www.avalara.com/">Avalara AvaTax <i class="icon-external-link"></i></a> API to calculate and report accurate sales tax on local customers.
</p>
<p>
    <a href="https://cart.naturalorganicwarehouse.com/">Natural Organic Warehouse <i class="icon-external-link"></i></a>
</p>
