<h1>GeoServices API</h1>
<p>
    I have a friend who travels around the mid-west servicing natural gas pipelines. As part of his duties he has to translate latitude / longitude coordinates into state, township, range, and section information. He was doing this by hand dozens of time per day. I found an API from the <a href="http://www.geocommunicator.gov/">Depart of the Interior's Bureau of Land Management <i class="icon-external-link"></i></a> which accepts coordinates and responds with the exact information my friend needed. I created a client class that can consume the API and another class that uses <a href="http://phpexcel.codeplex.com/">PHPExcel <i class="icon-external-link"></i></a> to parse an XLS spreadsheet with coordinates and populate it with the additional information.
</p>
<p>
    <a href="https://github.com/jacobwalker0814/geocommunicator-client">Source <i class="icon-external-link"></i></a>
</p>
