{% macro tags(tags) -%}
    {% for tag in tags %}
        {% if tag.find('language:') == 0 %}
            {% set tag_class="info" %}
            {% set tag_display=tag[9:] %}
        {% elif tag.find('concept:') == 0 %}
            {% set tag_class="warning" %}
            {% set tag_display=tag[8:] %}
        {% elif tag.find('tool:') == 0 %}
            {% set tag_class="success" %}
            {% set tag_display=tag[5:] %}
        {% else %}
            {% set tag_class="default" %}
            {% set tag_display=tag %}
        {% endif %}
        <span class="label label-{{tag_class}}" data-tag="{{tag}}">{{tag_display}}</span>
    {% endfor %}
{%- endmacro %}
