{% extends '_layouts/base.html' %}

{% block body %}
<h1>My Portfolio</h1>
<div class="row-fluid" id="portfolio">
    <div class="span3" id="portfolio-menu">
        <ul class="nav nav-list">
            {% if project is defined %}
                {% set selected_id = project._id %}
            {% else %}
                {% set selected_id = 0 %}
            {% endif %}

            {% for list_project in projects|sort(attribute='order') %}
                <li><a class="{{ 'active' if selected_id == list_project._id }}" href="/portfolio/{{list_project._id}}.html">{{list_project.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span9" id="project-details">
        {% block project_details %}
            <h1>Choose a Project From the List</h1>
        {% endblock %}
    </div>
</div>
{% endblock %}
